.buttonCont {
    padding: 6px 10px;
    background-color: #5656b6;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
}

.buttonCont:hover {
    background-color: #a994d2;
}

h3 {
    font-size: 16px;
}